<h2>My Heroes</h2>
<div class="">
    <ul class="heroes col-1-2 module">
        <li *ngFor="let hero of heroes"
            (click)="onSelect(hero)"
            [class.selected]="hero === selectedHero">
            <span class="badge">{{hero.id}}</span>
            <span class="text">{{hero.name}}</span>
        </li>
    </ul>
    <div *ngIf="selectedHero" class="cols-1-2 module">
        <h2>
            {{selectedHero.name | uppercase}} is my hero
        </h2>
        <button (click)="gotoDetail()">View Details</button>
    </div>
</div>
